/* your code */

 table,th,td{
/* 	border:1.6px solid black; */
	border-collapse:collapse;
	padding:6px;
    width:70pc;

}

 th{
	background:rgb(39, 79, 197);
   color:white;
/* 	font-style:normal;  */
	text-align: left;
} 
td{
/* 	 text-align: center; */
/* 	font-style:normal; */
}